@font-face {
    font-family: 'DSEG7Classic-Bold';
    src: url('../../fonts/fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Bold.woff2') format('woff2'), url('../../fonts/fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Bold.woff') format('woff'), url('../../fonts/fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'DSEG14Classic-Bold';
    src: url('../../fonts/fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Bold.woff2') format('woff2'), url('../../fonts/fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Bold.woff') format('woff'), url('../../fonts/fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'k8x12';
    src: url('../../fonts/k8x12/k8x12.eot');
    src: url('../../fonts/k8x12/k8x12.woff2') format('woff2'), url('../../fonts/k8x12/k8x12.woff') format('woff'), url('../../fonts/k8x12/k8x12.ttf') format('truetype');
}

@font-face {
    font-family: 'misaki';
    src: url('../../fonts/misaki/misaki_gothic.eot');
    src: url('../../fonts/misaki/misaki_gothic.woff2') format('woff2'), url('../../fonts/misaki/misaki_gothic.woff') format('woff'), url('../../fonts/misaki/misaki_gothic.ttf') format('truetype');
}

html {
    text-align: center;
}

.title {
    font-size: 10vmin;
}

.time {
    font-size: 10vmin;
}

.progress {
}
